{% set classes = [
  'mx-radio',
  status == "invalid" ? "error" : null,
  status == "valid" ? "success" : null,
] %}
{% set attributes = (attributes ?? create_attribute()).addClass(classes) %}
<div{{ attributes }}>
  <input
      id="{{ id }}"
      type="radio"
      name="{{ name }}"
      value="{{ value }}"
      {% if checked %} checked="checked"{% endif %}
      {% if status == "invalid" %} aria-invalid="true"{% endif %}
      {% if required %} required{% endif %}
  >
  <label for="{{ id }}">{{ label }}</label>
</div>
